[include]
path = ~/.gitconfig_work

[core]
	editor = code --wait
	autocrlf = input

[init]
	defaultBranch = main

[include]
path = ~/.gitconfig_aliases
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
